<div class="container">
  <h1>Create analysis form</h1>
  <select name="selectApp" class="d-flex flex-fill" [(ngModel)]="selectedApp" (ngModelChange)="onAppSelect($event)">
    <option *ngFor="let app of applications" [value]="app.Id">{{app.Name}}</option>
  </select>
  <select name="selectVersion" class="d-flex flex-fill" [(ngModel)]="selectedVersion" (ngModelChange)="onVersionSelect($event)">
    <option *ngFor="let item of appVersions" [value]="item.Id">{{item.VersionName}}</option>
  </select>
  

  <div class="search-results">
      <input [value]="search"
        ngxTypeahead
        [taList]="heuristics"
        taListItemLabel="HeuristicText"
        placeholder="Start typing"
        (taSelected)="handleResultSelected($event)">
    </div>

  <h2>Heuristics</h2>
  <div class="form-check" *ngFor="let heuristic of heuristics">
    <label *ngIf="heuristic.Checked">
      <input type="checkbox" [(ngModel)]="heuristic.Checked" name="check"> <span class="label-text">{{heuristic.HeuristicText}}</span>
    </label>
  </div>
  <h1>Assign users</h1>
  <div class="form-check" *ngFor="let group of groups">
    <label>
      <input type="checkbox"  [(ngModel)]="group.Checked" name="check"> <span class="label-text">{{group.GroupName}}</span>
    </label>
  </div>
  <div class="pull-right">
    <button type="button" class="btn btn-danger">Cancel</button>
    <button type="button" class="btn btn-primary" (click)='save()'>Save</button>
  </div>
</div>