$primary-color: #5475fc;
$btn-disabled-color: #f9fafb;
$btn-disabled-text-color: #bababb;
$font-color: #222222;
$success-color: #50b50b;
$error-color: red;
$light-color: #f0f1f6;
$white-color: white;
$light-red-color: tomato;
$red-link-color: red;

$grid-breakpoints: (
  xs: 0px,
  sm: 544,
  md: 768px,
  lg: 992px,
  xl: 1200px
);