/*#region Margin*/

.mleft-5 {
    margin-left: 5px;
}

.mbottom-10 {
    margin-bottom: 10px;
}

.mbottom-20 {
    margin-bottom: 20px;
}

.mright-30 {
    margin-right: 30px;
}

.mtop-20 {
    margin-top: 20px;
}

.no-margin {
    margin: 0;
}

/*#endregion Margin*/

/*#region General Page SCSS*/

// add colors to separate scss
.page-header {
    display: flex;
    flex-direction: row;
    margin: 25px 0;
    font-size: 25px;
    color: #03A9F4;
    justify-content: center;
    align-items: center;
}

.custom-modal-header {
    font-size: 25px;
}

.basic-modal-header {
    display: flex;
    flex-direction: column;
    color: #03A9F4;
    justify-content: center;
    align-items: center;
}

.delete-modal-header {
    display: flex;
    flex-direction: column;
    color: #dc3545;
    justify-content: center;
    align-items: center;
    i {
        color: #dc3545;
        font-size: 45px;
    }
}

/*#region General BTN SCSS*/

.btn-container {
    display: flex;
    flex-direction: row;
}

btn-delete {
    background-color: #f44234;
}

btn-update {
    background-color: #03A9F4;
}

.modal-btn {
    width: 80px;
}

.add-btn-container {
    display: flex;
    justify-content: flex-end;
}

.add-btn {
    width: 150px;
}

.circle-btn {
    display: flex;
    justify-content: center;
    padding: 0;
    font-size: 14px;
    border-radius: 50px;
    width: 25px;
    height: 25px;
}

.update-color {
    color: #03A9F4;
}

.delete-color {
    color: #f44234;
}

/*#endregion General BTN SCSS*/

/*#endregion General Page SCSS*/