<div class="container">
  <ngb-tabset>
    <ngb-tab title="Korisnici">
      <ng-template ngbTabContent>

        <table>
          <thead>
            <tr>
              <th>Prezime</th>
              <th>Ime</th>
              <th>Datum rođenja</th>
              <th>Zanimanje</th>
              <th>Opcije</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of users">
              <td>{{item.FirstName}}</td>
              <td>{{item.LastName}}</td>
              <td>{{item.DateOfBirth| date }}</td>
              <td>{{item.Occupation}}</td>
              <td>
                <button class="btn btn-secondary btn-manage" type="button" (click)="openUpdateUserDialog()">Update</button>
                <button class="btn btn-secondary btn-manage" type="button" (click)="openDeleteUserDialog()">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-template>

    </ngb-tab>
    <ngb-tab title="Grupe korisnika">
      <ng-template ngbTabContent>

        <table>
          <thead>
            <tr>
              <th>Ime grupe</th>
              <th>Broj korisnika u grupi</th>
              <th>Akcije</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of groups">
              <td>{{item.GroupName}}</td>
              <td>{{item.NumberOfUsers}}</td>
              <td>
                <button class="btn btn-outline-primary mb-2 mr-2" (click)="openManageUsersDialog()">Manage users</button>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-template>


    </ngb-tab>
  </ngb-tabset>

</div>


<app-dialog #UpdateUserDialog closeButtonLabel="Close" submitButtonLabel="Update" (closeEvent)="closeUpdateUserDialog()"
  (submitEvent)="updateUser()">
  <div header>
    <h2>Update user</h2>
  </div>
  <div content class="d-flex flex-column">
    <p>test</p>
  </div>
  <div footer>
  </div>
</app-dialog>


<app-dialog #DeleteUserDialog closeButtonLabel="Close" submitButtonLabel="Update" (closeEvent)="closeDeleteUserDialog()"
  (submitEvent)="deleteUser()">
  <div header>
    <h2>Delete user</h2>
  </div>
  <div content class="d-flex flex-column">
    <p>test</p>
  </div>
  <div footer>
  </div>
</app-dialog>


<app-dialog #ManageUsersDialog closeButtonLabel="Close" submitButtonLabel="Delete" (closeEvent)="closeManageUsersDialog()"
  (submitEvent)="updateUser()">
  <div header>
    <h2>Manage users</h2>
  </div>
  <div content class="d-flex flex-column">
    <p>test</p>
  </div>
  <div footer>
  </div>
</app-dialog>