<div id="odgovori">
  <div class="odgovori">
    <ul class="list-group-item pitanjeOdgovor">
      <div class="pitanje">Opis problema</div>
      <div class="odgovor opisProblema">
        <textarea rows='3'></textarea>
      </div>
    </ul>
    <ul class="list-group-item pitanjeOdgovor">
      <div class="pitanje">Nivo problema</div>
      <div class="odgovor">
        <li class="">
          <label class="radio-inline">
            <input type="radio" name="optradio">Nizak
          </label>
          <label class="radio-inline">
            <input type="radio" name="optradio">Srednji
          </label>
          <label class="radio-inline">
            <input type="radio" name="optradio">Visok
          </label>
        </li>
      </div>
    </ul>
    <ul class="list-group-item pitanjeOdgovor">
      <div class="pitanje">Lokacija problema</div>
      <div class="odgovor opisProblema">
        <textarea rows='2'></textarea>
      </div>
    </ul>
    <ul class="list-group-item pitanjeOdgovor">
      <div class="pitanje">Preporuka za poboljšanje</div>
      <div class="odgovor opisProblema">
        <textarea rows='3'></textarea>
      </div>
      <br>
    </ul>
    <hr>
  </div>
</div>