<div class="container">
  <div *ngFor="let heuristic of appAnalysis?.Heuristics">
    <div>
      <div class="row">
        <div class="col-12">
          <h4>{{ heuristic.HeuristicTitle }}</h4>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-12">
          <p>{{ heuristic.HeuristicText }}</p>
        </div>
      </div>
    </div>

    <div *ngFor="let answer of heuristic.Answers">
      <div id="answers">
        <div class="answers">
          <ul class="list-group-item questionAnswer">
            <div class="question">Description</div>
            <div class="answer problemDescription">
              <textarea rows="3" [(ngModel)]="answer.Description"></textarea>
            </div>
          </ul>
          <ul class="list-group-item questionAnswer">
            <div class="question">Level</div>
            <div class="answer">
              <li class="severity-level">
                <label class="radio-inline">
                  <input
                    type="radio"
                    name="{{ answer.Id }}"
                    [(ngModel)]="answer.Level"
                    value="1"
                  />Low
                </label>
                <label class="radio-inline">
                  <input
                    type="radio"
                    name="{{ answer.Id }}"
                    [(ngModel)]="answer.Level"
                    value="2"
                  />Medium
                </label>
                <label class="radio-inline">
                  <input
                    type="radio"
                    name="{{ answer.Id }}"
                    [(ngModel)]="answer.Level"
                    value="3"
                  />High
                </label>
              </li>
            </div>
          </ul>
          <ul class="list-group-item questionAnswer">
            <div class="question">Location</div>
            <div class="answer problemDescription">
              <textarea rows="2" [(ngModel)]="answer.Location"></textarea>
            </div>
          </ul>
          <ul class="list-group-item questionAnswer">
            <div class="question">Improvement recommendation</div>
            <div class="answer problemDescription">
              <textarea rows="3" [(ngModel)]="answer.Recommendation"></textarea>
            </div>
          </ul>
          <ul class="list-group-item questionAnswer" (paste)="pastePicture($event, answer)">
            <div class="row">
              <div class="col-12">
                <div class="question">Image</div>
                <input #fileInput placeholder="Paste your image here" /><span class="or">or</span>
                <input
                  name="files[]"
                  id="filter_input"
                  class="image-upload-overlay"
                  (change)="onFileChange($event, answer)"
                  required
                  multiple
                  multiple="multiple"
                  type="file"
                />
              </div>
            </div>
            <div class="image-container" *ngFor="let img of answer.Images">
              <img [src]="img.Src" alt="" class="image" />
              <div class="overlay">
                <div class="images-button">
                  <a><i class="fa fa-trash" (click)="removeFileFromCollection(img, answer)"></i></a>
                </div>
              </div>
            </div>
          </ul>
          <hr />
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="AddAnswer(heuristic)">
      Add one more answer
    </button>
  </div>
  <button type="button" class="btn btn-primary" (click)="save()">Save</button>
</div>
