<div class="container">
  <div class="page-header">
    <i class="fa fa-edit page-header-icon"></i>
    <span class="mleft-5">Heuristic evaluation</span>
  </div>
  <p>
    This heuristic evaluation form is meant to test the usability and user experience for certain
    tasks that can be completed on (insert website name). We can better understand the user
    experience through evaluating certain tasks that a user would come to the website to complete.
  </p>
  <p>
    Bellow are tasks that a user may come to the website to complete. Please evaluate these tasks,
    and the processes for completing these tasks from a user perspective based on the given
    heuristics.
  </p>
  <div *ngFor="let heuristic of appAnalysis?.Heuristics" class="heuristic-evaluation-item">
    <div>
      <div class="row">
        <div class="col-12">
          <h4>{{ heuristic.HeuristicTitle }}</h4>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-12">
          <p>{{ heuristic.HeuristicText }}</p>
        </div>
      </div>
    </div>

    <div *ngFor="let answer of heuristic.Answers">
      <div id="answers">
        <div class="answers">
          <ul class="list-group-item questionAnswer">
            <div class="question">Description</div>
            <div class="answer problemDescription">
              <textarea rows="3" [(ngModel)]="answer.Description"></textarea>
            </div>
          </ul>
          <ul class="list-group-item questionAnswer">
            <div class="question">Level</div>
            <div class="answer">
              <li class="severity-level">
                <label class="radio-inline">
                  <input
                    type="radio"
                    name="{{ answer.Id }}"
                    [(ngModel)]="answer.Level"
                    value="1"
                  />Low
                </label>
                <label class="radio-inline">
                  <input
                    type="radio"
                    name="{{ answer.Id }}"
                    [(ngModel)]="answer.Level"
                    value="2"
                  />Medium
                </label>
                <label class="radio-inline">
                  <input
                    type="radio"
                    name="{{ answer.Id }}"
                    [(ngModel)]="answer.Level"
                    value="3"
                  />High
                </label>
              </li>
            </div>
          </ul>
          <ul class="list-group-item questionAnswer">
            <div class="question">Location</div>
            <div class="answer problemDescription">
              <textarea rows="2" [(ngModel)]="answer.Location"></textarea>
            </div>
          </ul>
          <ul class="list-group-item questionAnswer">
            <div class="question">Improvement recommendation</div>
            <div class="answer problemDescription">
              <textarea rows="3" [(ngModel)]="answer.Recommendation"></textarea>
            </div>
          </ul>
          <ul class="list-group-item questionAnswer" (paste)="pastePicture($event, answer)">
            <div class="row">
              <div class="col-12">
                <div class="question">Image</div>
                <input #fileInput placeholder="Paste your image here" /><span class="or">or</span>
                <input
                  name="files[]"
                  id="filter_input"
                  class="image-upload-overlay"
                  (change)="onFileChange($event, answer)"
                  required
                  multiple
                  multiple="multiple"
                  type="file"
                />
              </div>
            </div>
            <div class="image-container" *ngFor="let img of answer.Images">
              <img [src]="img.Src" alt="" class="image" />
              <div class="overlay">
                <div class="images-button">
                  <a><i class="fa fa-trash" (click)="removeFileFromCollection(img, answer)"></i></a>
                </div>
              </div>
            </div>
          </ul>
          <hr />
        </div>
      </div>
    </div>
    <div class="add-answer-button">
      <button type="button" class="btn btn-primary" (click)="AddAnswer(heuristic)">
        Add one more answer
      </button>
    </div>
  </div>
  <div class="form-buttons pull-right">
    <button type="button" class="btn btn-primary" (click)="save()">Save</button>
    <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
  </div>
</div>
