<div class="container" (paste)="pastePicture($event)">
  <div id="odgovori">
    <div class="odgovori">
      <ul class="list-group-item pitanjeOdgovor">
        <div class="pitanje">Opis problema</div>
        <div class="odgovor opisProblema">
          <textarea rows='3'></textarea>
        </div>
      </ul>
      <ul class="list-group-item pitanjeOdgovor">
        <div class="pitanje">Nivo problema</div>
        <div class="odgovor">
          <li class="">
            <label class="radio-inline">
              <input type="radio" name="optradio">Nizak
            </label>
            <label class="radio-inline">
              <input type="radio" name="optradio">Srednji
            </label>
            <label class="radio-inline">
              <input type="radio" name="optradio">Visok
            </label>
          </li>
        </div>
      </ul>
      <ul class="list-group-item pitanjeOdgovor">
        <div class="pitanje">Lokacija problema</div>
        <div class="odgovor opisProblema">
          <textarea rows='2'></textarea>
        </div>
      </ul>
      <ul class="list-group-item pitanjeOdgovor">
        <div class="pitanje">Preporuka za poboljšanje</div>
        <div class="odgovor opisProblema">
          <textarea rows='3'></textarea>
        </div>
      </ul>
    <button type="button" class="btn btn-primary" (click)='uploadImage()'>Save</button>

      <ul class="list-group-item pitanjeOdgovor">
        <div class="row">
        <div class="pitanje">Slika</div>
        <input #fileInput placeholder="Paste your image here"><span>or</span> <input name="files[]" id="filter_input" class="image-upload-overlay"
            (change)="onFileChange($event)" required multiple multiple="multiple" type="file">
        </div>
        <div class="image-container" *ngFor='let item of pastedImages'>
          <img [src]="item" alt="" class="image">
          <div class="overlay">
            <div class="images-button">
              <a><i class="fa fa-trash" (click)="removeFileFromCollection(item)"></i></a>
            </div>
          </div>
        </div>
      </ul>
      <hr>
    </div>
  </div>
</div>