<div class="container">
  <div class="page-header">
    <span class="mleft-5"
      >Report for application: {{ data.AppName }}, Version {{ data.VersionName }}</span
    >
  </div>

  <ngb-tabset [destroyOnHide]="false">
    <ngb-tab title="Severity level">
      <ng-template ngbTabContent>
        <div class="container d-flex align-items-center justify-content-center">
          <table>
            <tr>
              <td style="width:700px;height:50%"><canvas id="pieChart"></canvas></td>
            </tr>
          </table>
        </div>

        <div class="container">
          <div *ngIf="data !== null && data.Answers !== null">
            <div *ngFor="let item of data.Answers" class="report-answers">
              <div
                class="card"
                [ngClass]="{
                  'border-danger': item.Level === 3,
                  'border-warning': item.Level === 2,
                  'border-info': item.Level === 1
                }"
              >
                <div class="card-body">
                  <h4 class="card-title">Description: {{ item.Description }}</h4>
                  <h6 class="card-subtitle mb-2 text-muted">Location: {{ item.Location }}</h6>
                  <p class="card-text">Recommendation: {{ item.Recommendation }}</p>
                  <div class="image-container" *ngFor="let img of item.Images">
                    <img [src]="img.Img" alt="" class="image" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Table Diagram">
      <ng-template ngbTabContent>
        <div class="tab-container">
          <div class="tab-table">
            <div class="tab-table-header">
              <div class="col-md-4">Heuristics</div>
              <div class="col-md-2">Minor issues</div>
              <div class="col-md-2">Major issues</div>
              <div class="col-md-2">Critical issues</div>
              <div class="col-md-1">Total</div>
              <div class="col-md-1">%</div>
            </div>
            <div class="tab-table-row" *ngFor="let item of tableData.TableItems">
              <div class="col-md-4">{{ item.DatabaseHeuristicTitle }}</div>
              <div class="col-md-2">{{ item.LowLevel }}</div>
              <div class="col-md-2">{{ item.MediumLevel }}</div>
              <div class="col-md-2">{{ item.HighLevel }}</div>
              <div class="col-md-1">{{ item.Total }}</div>
              <div class="col-md-1">{{ item.Percentage }}%</div>
            </div>
            <div class="tab-table-row">
              <div class="col-md-4"><b>Total by severity</b></div>
              <div class="col-md-2">
                <b>{{ tableData.DiagramModel.LowLevel }}</b>
              </div>
              <div class="col-md-2">
                <b>{{ tableData.DiagramModel.MediumLevel }}</b>
              </div>
              <div class="col-md-2">
                <b>{{ tableData.DiagramModel.HighLevel }}</b>
              </div>
              <div class="col-md-1">
                <b>{{ tableData.DiagramModel.NumberOfAnswers }}</b>
              </div>
              <div class="col-md-1"><b>100%</b></div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
