<div class="container d-flex align-items-center justify-content-center">
  <table>
    <tr>
      <td style="width:700px;height:50%"><canvas id="pieChart"></canvas></td>
    </tr>
  </table>
</div>

<div class="container">
  <div *ngIf="data !== null && data.Answers !== null">
    <div *ngFor="let item of data.Answers" class="report-answers">
      <div
        class="card"
        [ngClass]="{
          'border-danger': item.Level === 3,
          'border-warning': item.Level === 2,
          'border-info': item.Level === 1
        }"
      >
        <div class="card-body">
          <h4 class="card-title">Description: {{ item.Description }}</h4>
          <h6 class="card-subtitle mb-2 text-muted">Location: {{ item.Location }}</h6>
          <p class="card-text">Recommendation: {{ item.Recommendation }}</p>
          <div class="image-container" *ngFor="let img of item.Images">
            <img [src]="img.Img" alt="" class="image" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
