.pitanjeOdgovor {
    list-style: none
}
.odgovori {
    border: 10px black;
}
.pitanje {
    width: 18%;
    display:inline-block;
    vertical-align: center;
}

.odgovor {
    width: 80%;
    display:inline-block;
    vertical-align: center;
}
.opisProblema textarea {
    overflow:hidden;
  width:100%;
  font-size:14px;
  display:block;
  color: black;
}

.dodajOdgovor {
    margin: 10px;
}