<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
	<div class="row">
		<br/>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<p> 1. Vidljivost stanja sistema Potrebno je analizirati da li korisnik u svakom momentu raspolaže adekvatnim informacijama
					o trenutnom statusu. Pitanja za analizu:
					<br> - da li je jasno čemu služi ekran na kome se korisnik nalazi
					<br> - da li svaka korisnička akcija rezultira adekvatnom povratnom infromacijom ili očekivanom aktivnosti u aplikaciji
					<br> - da li se poruke upozorenja prikazuju na adekvatan način i dovoljno dugo
					<br> - da li su parametri sistema prikazani na odgovarajući način
					<br> - da li u slučaju dužeg trajanja neke operacije u aplikaciji postoji adekvatan progers indikator
				</p>
			</div>
			<!--.panel-heading-->

			<div class="panel-body">
				<h4>Evaluacija:</h4>
			</div>
			<ul class="list-group-item pitanjeOdgovor">
					<div class="pitanje" >Opis problema</div>
					<div class="odgovor  opisProblema">
							<input type="text" name="fname">
					</div>
			</ul>
			
			<ul class="list-group-item pitanjeOdgovor">
				<div class="pitanje" >Nivo problema</div>
				<div class="odgovor">
					<li class="">
						<label class="radio-inline">
							<input type="radio" name="optradio">Nizak
						</label>
						<label class="radio-inline">
							<input type="radio" name="optradio">Srednji
						</label>
						<label class="radio-inline">
							<input type="radio" name="optradio">Visok
						</label>
					</li>
				</div>
			</ul>
		</div>
	</div>
</div>