<div class="container">
    <h1>Heuristics Manager</h1>
    <ngb-tabset>
        <ngb-tab title="Heuristics">
            <ng-template ngbTabContent>
                <button class="btn btn-secondary btn-manage" type="button" (click)="openCreateHeuristicDialog()">Add</button>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Heuristic</th>
                            <th>Heuristic text</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of heuristics">
                            <td>{{item.HeuristicTitle}}</td>
                            <td>{{item.HeuristicText}}</td>
                            <td>
                                <button class="btn btn-secondary btn-manage" type="button" (click)="openUpdateHeuristicDialog(item)">Update</button>
                                <button class="btn btn-secondary btn-manage" type="button" (click)="openDeleteHeuristicDialog(item)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Heuristic Lists">
            <ng-template ngbTabContent>
            </ng-template>

        </ngb-tab>

    </ngb-tabset>
</div>

<app-dialog #CreateHeuristicDialog closeButtonLabel="Close" submitButtonLabel="Create" (closeEvent)="closeCreateHeuristicDialog()"
    (submitEvent)="createHeuristic()">
    <div header>
        <h2>Create heuristic</h2>
    </div>
    <div content class="d-flex flex-column">
        <label>Title</label>
        <input type="text" id="heuristicTitle" [(ngModel)]="selectedHeuristic.HeuristicTitle">
    </div>
    <div content class="d-flex flex-column">
        <label>Text</label>
        <input type="text" id="heuristicText" [(ngModel)]="selectedHeuristic.HeuristicText">
    </div>
    <div footer>
    </div>
</app-dialog>

<app-dialog #UpdateHeuristicDialog closeButtonLabel="Close" submitButtonLabel="Update" (closeEvent)="closeUpdateHeuristicDialog()"
    (submitEvent)="updateHeuristic()">
    <div header>
        <h2>Update heuristic</h2>
    </div>
    <div content class="d-flex flex-column">
        <label>Title</label>
        <input type="text" id="heuristicTitle" [(ngModel)]="selectedHeuristic.HeuristicTitle">
    </div>
    <div content class="d-flex flex-column">
        <label>Text</label>
        <input type="text" id="heuristicText" [(ngModel)]="selectedHeuristic.HeuristicText">
    </div>
    <div footer>
    </div>
</app-dialog>


<app-dialog #DeleteHeuristicDialog closeButtonLabel="Close" submitButtonLabel="Delete" (closeEvent)="closeDeleteHeuristicDialog()"
    (submitEvent)="deleteHeuristic()">
    <div header>
        <h2>Delete heuristic</h2>
    </div>
    <div content class="d-flex flex-column">
        <p>Are you sure you want to delete this heuristic?</p>
    </div>
    <div footer>
    </div>
</app-dialog>