<div class="container">
    <ul class="list-group">
  <li class="list-group-item">
    <table class="table table-hover">
      <thead class="table-primary">
        <tr>
          <th>Application name</th>
          <th>Application url</th>
          <th class="text-center">Options</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of aplikacije">
        <tr (click)="expand(item)">
          <td>
            {{item.appName}}
          </td>
          <td class="col-md-5">
            {{item.url}}
          </td>
          <td class="col-md-2 text-center">
            <i class="fa fa-edit px-3"></i>
            <i class="fa fa-remove px-3"></i>
          </td>
        </tr>
        <div id="versions" *ngIf="item.expanded" class="px-5 text-center">
        <tr  *ngFor="let version of item.versions" >
            <td class="col-md-5">
                {{version.versionName}}
            </td>
            <td></td>
            <td class="col-md-2 text-center">
              <i class="fa fa-edit px-3"></i>
              <i class="fa fa-remove px-3"></i>
            </td>
          </tr>
        </div>
      </tbody>
    </table>
</ul>

</div>